# Statistik

# 1. Einführung
25.04.2019

# GitHub

https://github.com/pielstroem/Statistik2019


# Bibliographie

* Evans, James D. 1996. Straightforward Statistics for the Behavioral Sciences. Pacific Grove: Brooks/Cole Pub. Co.
* Haslwanter, Thomas. 2016. An Introduction to Statistics with Python. Statistics and Computing. Cham: Springer International Publishing.

Mehr: 
* Ramsay, Stephen, and Patrick Juola. 2017. Six Septembers: Mathematics for the Humanist. Zea Books.
* Gries, Stefan Th. 2010. “Useful Statistics for Corpus Linguistics.” In A Mosaic of Corpus Linguistics: Selected Approaches, edited by Aquilino Sánchez and Moisés Almela, 269–91. Frankfurt am Main: Peter Lang.
* Oakes, Michael P. 1998. Statistics for Corpus Linguistics. Edinburgh: Edinburgh Univ. Press.
* Baroni, Marco, and Stefan Evert. 2009. “Statistical Methods for Corpus Exploitation.” In Corpus Linguistics. An International Handbook 2, edited by Anke Lüdeling and Merja Kytö, 777–803. Berlin: De Gruyter.
* James, Gareth. 2013. An Introduction to Statistical Learning. Springer Texts in Statistics. New York, NY [u.a.]: Springer.
* Hastie, Trevor. 2017. The Elements of Statistical Learning. Second edition, Corrected at 12th printing. Springer Series in Statistics. New York: Springer.

# Datensätze

https://github.com/pielstroem/Statistik2019/tree/master/Datensaetze

# Python

* Jupyter Notebooks
* Numpy
* Pandas
* MatPlotLib
* collections

In [1]:
import pandas as pd

In [2]:
sp_authors = pd.read_csv("../Datensaetze/sp-authors.tsv", sep="\t")

In [3]:
sp_authors.head()

,id,author-fullname,author,birth,death,gender,pages-in-manual,novels,works,life-span,digitzed-by
0,1,Rosalía de Castro,RdCastro,1837,1885,female,17,1,1,48,6
1,2,Enrique Pérez Escrich,Escrich,1829,1897,male,1,4,17,68,5
2,3,Antonio de Trueba y de la Quintana,Trueba,1819,1889,male,1,0,1,70,6
3,4,José Selgas Carrasco,Selgas,1822,1882,male,1,5,7,60,4
4,5,Francisco Navarro Villoslada,Villoslada,1818,1895,male,1,0,0,77,5

In [8]:
sp_authors = pd.read_csv("/home/jose/Dropbox/clases/19-SS_Statistik/StatisticsCourse/2019SS/Datensaetze/sp-authors.tsv", sep="\t")

In [9]:
sp_authors.head()

,id,author-fullname,author,birth,death,gender,pages-in-manual,novels,works,life-span,digitzed-by
0,1,Rosalía de Castro,RdCastro,1837,1885,female,17,1,1,48,6
1,2,Enrique Pérez Escrich,Escrich,1829,1897,male,1,4,17,68,5
2,3,Antonio de Trueba y de la Quintana,Trueba,1819,1889,male,1,0,1,70,6
3,4,José Selgas Carrasco,Selgas,1822,1882,male,1,5,7,60,4
4,5,Francisco Navarro Villoslada,Villoslada,1818,1895,male,1,0,0,77,5



# Hausaufgaben